<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos">
    <meta property="og:title" content="Desenvolvimento Web com Frameworks Modernos">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:url"
      content="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos">
    <meta property="og:image" content="http://www.utfpr.edu.br/logo.png">

    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Universidade Tecnológica Federal do Paraná UTFPR">

    <script>
      (function () {
        var po = document.createElement('script');
        po.async = true;
        po.src = document.location.protocol + '//connect.facebook.net/pt_BR/all.js#xfbml=1';
        var head = document.getElementsByTagName('head')[0];
        head.appendChild(po);
      }());
    </script>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@utfpr_">
    <meta property="creator.productor"
      content="http://estruturaorganizacional.dados.gov.br/id/unidade-organizacional/454">

    <style type="text/css" media="all">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcejquery-cachekey-0ab613baff94e0977d3cb7ee060f353f.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/reset-cachekey-0280634685ff20a9c4144bb54c3ea467.css"
      media="screen">
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/base-cachekey-5d503193b9e7b82f0097a896a5368b68.css">
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourceplone.app.jquerytools.dateinput-cachekey-4924fe7951a1194de4a1b45223112418.css"
      media="screen">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourceplone.formwidget.contenttreecontenttree-cachekey-a99185ee1bac4baf68817d4dc0ab74b2.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcecollection-cachekey-c3187083d67e32296294b51054409c37.css"
      media="screen">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcecalendar_stylescalendar-cachekey-257f2eba2473246f84efd7dcc620b5e2.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcebrasil.gov.agendaagenda-cachekey-70f0d9e1b22e80eb255cba627bc78a16.css">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/jquery.autocomplete-cachekey-6f2486f9ef5b98796efbe4a3c1ccb1e7.css);
    </style>
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourceProducts.Doormat.stylesheetsdoormat-cachekey-6e63957166014ae07991288dd2b95e87.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/embedder-cachekey-75b961f0fc28ccdbb106d933ce263285.css"
      media="screen">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcecollective.pollscsscollective.polls-cachekey-3effee92bbc2282057e53ad1805c9027.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcebrasil.gov.tilestiles-cachekey-2cc2dea1fc897428d4fc6f84fb2557e1.css">
    <!--[if lt IE 8]>

    <link rel="stylesheet" type="text/css" href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/IEFixes-cachekey-c61bb6f42bc97fcf885740bad84ce9b2.css" media="screen" />
        <![endif]-->

    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcebrasil.gov.portletscssmain-cachekey-701d933452e5c51533d208abc124abd4.css"
      media="screen">
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/faceted_view-cachekey-41113d527ac93a3c09769d8553a1a084.css"
      media="screen">
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcebrasil.gov.facetadacssmain-cachekey-55a1063e5e7f20b421f46c652267ae90.css"
      media="screen">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcecollective.z3cform.datagridfielddatagridfield-cachekey-799fe910c60318eb4b87f18d79de2c92.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourceploneutfpr.personalizacaomain-cachekey-d7381342e4d7187b63f895bf79d6edab.css"
      media="screen">
    <style type="text/css" media="screen">
      @import url(http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourcecollective.nitfnitf-cachekey-e64e3330685ee5dd159201128447f2c5.css);
    </style>
    <link rel="stylesheet" type="text/css"
      href="http://www.utfpr.edu.br/portal_css/brasil_gov_facetada/resourceplone.formwidget.datetimestyles-cachekey-431bbb3550c988c63a0af99efffc89e7.css">



    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourceplone.app.jquery-cachekey-ec39de2b2d840218c9ca01544ed0b8b5.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/register_function-cachekey-028d3eb1ad499b5a5a4e52e720034b37.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourceplone.formwidget.querystring.querywidget-cachekey-bdd5a8b450ad9318f1e4531fae68e7a3.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourcecollective.js.bootstrapjsbootstrap.min-cachekey-64f932a17fe11866876bba97a6d0ea58.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/jquery.autocomplete.min-cachekey-eda2dd058b03cc86fda714cea1c4cab7.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/faceted_view-cachekey-43bda556ebfb01516e486b755c3999ea.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourcebrasil.gov.facetadajsmain-cachekey-78640ac104efb93258efbad640d2d514.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourcecollective.pollsjsjquery.tasksplease-cachekey-e8aac528c091893f2565a66a86f097e1.js"></script>
    <script type="text/javascript"
      src="http://www.utfpr.edu.br/portal_javascripts/brasil_gov_facetada/resourcecollective.nitfnitf-cachekey-6eaefdb0b3427b6cb544641ef8083458.js"></script>



    <script async src="http://www.utfpr.edu.br/++resource++collective.lazysizes/lazysizes-43c36fc.js"></script>


    <title>Desenvolvimento Web com Frameworks Modernos — Universidade Tecnológica Federal do Paraná UTFPR</title>

    <link rel="http://purl.org/dc/terms/subject http://schema.org/about http://xmlns.com/foaf/0.1/primaryTopic"
      href="http://vocab.e.gov.br/2011/03/vcge#esquema">


    <link rel="author" href="http://www.utfpr.edu.br/author/tassia" title="Informações do Autor">


    <link rel="canonical"
      href="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos">





    <script type="text/javascript">
      jQuery(function ($) {
        if (typeof ($.datepicker) != "undefined") {
          $.datepicker.setDefaults(
            jQuery.extend($.datepicker.regional['pt-BR'],
              { dateFormat: 'dd/mm/yy' }));
        }
      });
    </script>




    <link rel="search" href="http://www.utfpr.edu.br/@@search" title="Buscar neste site">










    <meta name="generator" content="Plone - http://plone.org">


    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="shortcut icon" href="/++theme++utfpr_branco/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/++theme++utfpr_branco/img/touch_icon.png">

    <!-- Plone CSS - only for preview, will be removed in rules.xml -->


    <!-- Theme CSS - only for preview, will be removed in rules and added in CSS registry -->

    <link media="all" href="/++theme++utfpr_branco/css/style.css" type="text/css" rel="stylesheet">
  </head>

  <body id=""
    class="template-document_view portaltype-document site-Plone section-cursos subsection-especializacao subsection-especializacao-ct subsection-especializacao-ct-desenvolvimento-web-com-frameworks-modernos userrole-anonymous"
    data-base-url="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos"
    data-portal-url="http://www.utfpr.edu.br" dir="ltr">
    <div id="wrapper">


      <div id="main" role="main">
        <div id="plone-content">

          <div id="portal-columns" class="row">

            <div id="viewlet-above-content">
              <div id="portal-breadcrumbs">
                <span id="breadcrumbs-you-are-here">Você está aqui:</span>
                <span id="breadcrumbs-home">
                  <a href="http://www.utfpr.edu.br">Página Inicial</a>
                  <span class="breadcrumbSeparator">
                    &gt;

                  </span>
                </span>

                <span dir="ltr" id="breadcrumbs-4">

                  <span id="breadcrumbs-current">Desenvolvimento Web com Frameworks Modernos</span>

                </span>

              </div>
            </div>

            <div id="navigation">
              <a name="anavigation" id="anavigation" class="anchor">menu</a>
              <span class="menuTrigger">Menu</span>
              <div id="portal-column-one" class="cell width-1:4 position-0">


                <div class="portletWrapper"
                  id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a72656c6576616e636961"
                  data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a72656c6576616e636961">
                  <dl class="portlet portletNavigationTree">

                    <dt class="portletHeader">
                      <span class="portletTopLeft"></span>
                      Usuários
                      <span class="portletTopRight"></span>
                    </dt>

                    <dd class="portletItem lastItem">
                      <ul class="navTree navTreeLevel0">

                        <li class="navTreeItem visualNoMarker section-alunos">

                          <a href="#" title="" class="state-published">
                            <span>Alunos</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-comunidade">

                          <a href="#" title="" class="state-published">
                            <span>Comunidade</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-egressos">

                          <a href="#" title="" class="state-published">
                            <span>Egressos</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-futuros-alunos">

                          <a href="#" title="" class="state-published">
                            <span>Futuros alunos</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-servidores">

                          <a href="#" title="" class="state-published">
                            <span>Colaboradores</span>
                          </a>

                        </li>
                      </ul>
                      <span class="portletBottomLeft"></span>
                      <span class="portletBottomRight"></span>
                    </dd>
                  </dl>

                </div>

                <div class="portletWrapper"
                  id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a616c756e6f73"
                  data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a616c756e6f73">
                  <dl class="portlet portletNavigationTree">

                    <dt class="portletHeader">
                      <span class="portletTopLeft"></span>
                      Institucional
                      <span class="portletTopRight"></span>
                    </dt>

                    <dd class="portletItem lastItem">
                      <ul class="navTree navTreeLevel0">
                        <li class="navTreeItem visualNoMarker section-sobre-a-utfpr">
                          <a href="#" title="" class="state-published">
                            <span>Sobre a Uniasselvi</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-estrutura">

                          <a href="#" title="" class="state-published">
                            <span>Estrutura</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-documentos">

                          <a href="#" title="" class="state-published">
                            <span>Documentos</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-editais">

                          <a href="#" title="" class="state-published">
                            <span>Editais</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-comissoes">

                          <a href="#" title="" class="state-published">
                            <span>Comissões</span>
                          </a>
                        </li>

                        <li class="navTreeItem visualNoMarker section-avaliacao-institucional">

                          <a href="#" title="" class="state-published">
                            <span>Avaliação Institucional</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker section-titulos-honorificos">

                          <a href="#" title="" class="state-published">
                            <span>Títulos</span>
                          </a>

                        </li>

                      </ul>
                      <span class="portletBottomLeft"></span>
                      <span class="portletBottomRight"></span>
                    </dd>
                  </dl>

                </div>

                <div class="portletWrapper"
                  id="portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a63616d707573"
                  data-portlethash="706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a63616d707573">
                  <dl class="portlet portletNavigationTree">

                    <dt class="portletHeader">
                      <span class="portletTopLeft"></span>
                      Campus
                      <span class="portletTopRight"></span>
                    </dt>

                    <dd class="portletItem lastItem">
                      <ul class="navTree navTreeLevel0">
                        <li class="navTreeItem visualNoMarker navTreeFolderish section-apucarana">

                          <a href="#" title="" class="state-published navTreeFolderish">
                            <span>Indaial</span>
                          </a>

                        </li>

                        <li class="navTreeItem visualNoMarker navTreeFolderish section-campomourao">

                          <a href="#" title="" class="state-published navTreeFolderish">
                            <span>Polos</span>
                          </a>

                        </li>

                      </ul>
                      <span class="portletBottomLeft"></span>
                      <span class="portletBottomRight"></span>
                    </dd>
                  </dl>

                </div>

              </div>

            </div>

            <!-- Conteudo -->
            <div id="portal-column-content" class="cell width-3:4 position-1:4">
              <a name="acontent" id="acontent" class="anchor">conteúdo</a>

              <div class="">

                <dl class="portalMessage info" id="kssPortalMessage" style="display:none">
                  <dt>Info</dt>
                  <dd></dd>
                </dl>


                <div id="content">

                  <div id="viewlet-above-content-title"></div>

                  <h1 class="documentFirstHeading">Desenvolvimento Web com Frameworks Modernos</h1>


                  <div id="viewlet-below-content-title">
                    <div id="viewlet-social-like" style="display:none" class="horizontal">

                      <div class="sociallike-network-facebook">
                        <!-- Facebook -->
                        <div class="fb-like" data-send="false" data-show-faces="false"
                          data-href="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos"
                          data-action="like" data-layout="button_count" data-share="False">
                        </div>


                      </div>

                      <div class="sociallike-network-twitter">
                        <!-- Twitter -->
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet"
                          data-text="Desenvolvimento Web com Frameworks Modernos"
                          data-url="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos"
                          data-via="utfpr_">Tweet</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                      </div>

                      <div class="sociallike-network-whatsapp">

                        <a title="Compartilhar no WhatsApp"
                          href="whatsapp://send?text=Desenvolvimento%20Web%20com%20Frameworks%20Modernos%20-%20http%3A//www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos"
                          class="whatsapp">Compartilhar</a>


                      </div>

                      <div class="sociallike-network-linkedin">
                        <!-- Linkedin -->
                        <script async src="//platform.linkedin.com/in.js"></script>
                        <script type="IN/Share" data-counter="right"
                          data-url="http://www.utfpr.edu.br/cursos/especializacao/ct/desenvolvimento-web-com-frameworks-modernos"></script>

                      </div>

                    </div>

                    <div class="documentByLine" id="plone-document-byline">

                      <span class="documentPublished">
                        <span>publicado</span>
                        21/04/2023 15h00,
                      </span>

                      <span class="documentModified">
                        <span>última modificação</span>
                        05/06/2023 19h35
                      </span>


                    </div>
                  </div>

                  <div id="viewlet-above-content-body">
                  </div>
                  <div id="content-core">

                    <div id="parent-fieldname-text">
                      <p align="justify"><strong>Descrição</strong><br>Nos dias de hoje, o desenvolvimento web não
                        se faz mais de forma artesanal, mas sim lança mão de poderosa base
                        provinda através de frameworks que são verdadeiras caixas de ferramentas
                        para aumentar a produtividade dos desenvolvedores com consequentes
                        ganhos para as empresas e cliente finais. Desta forma, a especialização
                        que está sendo proposta busca prover subsídios para que os alunos possam
                        aprender a utilizar esses frameworks projetar construir aplicações web e
                        móveis com a máxima eficiência.</p>
                      <p align="justify"><strong>Público Alvo</strong><br>O curso se destina, preferencialmente, a
                        portadores de diploma de cursos reconhecidos pelo MEC, nas áreas de
                        Desenvolvimento de Sistemas, Processamento de Dados, Engenharia e áreas
                        afins, que desejam atualizar-se e aumentar seus conhecimentos,
                        possibilitando seu ingresso no setor de desenvolvimento Web utilizando
                        frameworks modernos.</p>
                      <p><strong>Área</strong><br>Linguagens de Programação</p>
                      <p><strong>Carga Horária</strong><br>360 horas</p>
                      <p><strong>Duração</strong><br>22 meses</p>
                      <p><strong>Periodicidade de Oferta</strong><br>Anual</p>
                      <p><strong>Modalidade</strong><br>Presencial com aula a cada 15 dias</p>
                      <p><strong><a title="" href="#" class="internal-link" target="_self">Informações
                            Adicionais</a></strong></p>
                    </div>


                  </div>

                </div>

              </div>

              <div id="viewlet-below-content">
                <div id="category" class="documentByLine">
                  registrado em:
                  <span>
                    <a href="https://portal.uniasselvi.com.br/posgraduacao" class="link-category"
                      rel="nofollow">Uniasselvi</a>
                  </span>
                </div>

              </div>

            </div>

          </div>

        </div>

        <!--   <div class="clear"></div> -->
        <div id="voltar-topo">
          <a href="#wrapper">Voltar para o topo</a>
        </div>

      </div>

      <div id="footer" role="contentinfo">
        <a name="afooter" id="afooter" class="anchor"></a>
        <!-- <div class="clear"></div> -->
        <div id="footer-brasil" class="footer-person"></div>
      </div>
      <div id="extra-footer">
        <p>Desenvolvido para uso restrito ao Seminário Acadêmico do Curso de Análise e Desenvolvimento de Sistemas <a
            href="https://portal.uniasselvi.com.br/graduacao/sc/balneario-picarras/analise-e-desenvolvimento-de-sistemas?place=balneario-picarras-sc&modality=ead">Uniasselvi</a>
        </p>
      </div>

      <!-- <script defer src="++resource++brasil.gov.barra/barra.js" type="text/javascript"></script> -->

    </div>
    <script>
      (function (i,s,o,g,r,a,m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments);
        },i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a,m);
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create','UA-106998674-1','auto');
      ga('send','pageview');

    </script>
  </body>

</html>